main {
 width: 90%;
 height: 90%
}

body {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    width: 90%;
}

@font-face {
    font-family: 'Piazzolla';
    src: url('/fonts/static/Piazzolla-SemiBold.ttf') format('truetype')
}

.header {
    background-image: url(/images/turn-on-corner.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    object-fit: cover;
    flex: 1 1 auto;

}

.header-block h1 {
   font-family: 'Piazzolla', 'Courier New', Courier, monospace; 
   font-size: 4rem; 
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-block {
   background-color: hsla(28, 100%, 68%, 0.37);
   align-self: stretch;
}

.foto-cred {
    position: absolute;
    top: 95%;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    background-color:rgba(240, 252, 255, 0.801);
}

a:link {
    color: linen;
}
  
a:visited {
    color: rgb(216, 45, 33);
}
  
a:hover {
    color: forestgreen;
}

.form-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-container {
    position: relative;
    max-width: 50vw;
    left: 30px;
    top: 5%; 
    margin-bottom: 6vh;
}

.text-container span {
    color: orangered;
    font-style: italic;
}

.text-container p {
    font-size: 18px;
   font-weight: bold;
    padding: 8px;
    margin: 8px; 
}

.form-container {
    display: flex;
    flex: 1 1 auto;
    width: 90%;
    position: relative;
    left: 5%;
}

h2 {
    position: relative;
    top: 2%;
    left: 5%;
    width: 30vw;
}

.name, .contact, .password {
    position: relative;
    left: 20px;
    top: 25px;
    margin-bottom: 20px;
    margin-right: 0;
}

label {
    display: inline-block;
    width: 16%;
    font-size: .9rem;
}

.name input, 
.contact input,
.password input {
    margin-right: 5%;

}
  
.name input[name='first-name'], 
.contact input[name='email'], 
.password input[name='password'],
.password input[name='confirm-pw'],
.contact input[name='phone'],
.name input[name='last-name'] {
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 7px;
    display: inline-block;
    width: 25%;
    /* box-sizing: border-box; */
    font: 1em sans-serif;
} 

.user-input {
    border: 3px solid transparent;
    width: 60vw;
    height: 40vh; 
    transition: border 0.5s ease;
    animation: border-pulse 2s ease-in-out infinite;
    left: 2%;
}

input:focus {
    outline: none !important;
    border: 1px solid #3789bf;
    box-shadow: 0 0 10px #719ECE;
}
  
.brder:hover {
    border-image: linear-gradient(to right, rgb(217, 187, 35), rgb(217, 132, 35), rgb(217, 50, 35));
    border-image-slice: 1;
    animation: none;
}
  
@keyframes border-pulse {
    0% {
      box-shadow: 5px 0px 6px 5px rgb(217, 187, 35);
    }
    25% {
      box-shadow: 5px 0px 6px 5px rgb(217, 153, 35);
    }
    50% {
      box-shadow: 5px 0px 6px 5px rgb(217, 105, 35);
    }
    75% {
      box-shadow: 5px 0px 6px 5px rgb(217, 87, 35);
    }
    100% {
      box-shadow: 5px 0px 6px 5px rgb(217, 35, 35);
    }
}

a:last-of-type, p:last-of-type{
    font-size: 16px;
}

a:last-of-type:hover {
    font-weight: bold;
    color: red;
}


/* Button Start */

button {
    margin: 20px;
  }
  
.btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    left: 25px;
}
  
.sub-button {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
  
.sub-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
  
.sub-button:before,
.sub-button:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow: -7px -7px 20px 0px
      rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}
  
.sub-button:before{
     height: 0%;
     width: 2px;
}
  
.sub-button:after {
    width: 0%;
    height: 2px;
}
  
.sub-button:hover{
    color: rgba(251,75,2,1);
    background: transparent;
}
  
.sub-button:hover:before {
    height: 100%;
}
.sub-button:hover:after {
    width: 100%;
}

.sub-button span:before,
.sub-button span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
}

.sub-button span:before {
    width: 2px;
    height: 0%;
}

.sub-button span:after {
    height: 2px;
    width: 0%;
}

.sub-button span:hover:before {
    height: 100%;
}

.sub-button span:hover:after {
    width: 100%;
}
  